<div class="issue-list">
  <% @issues.each do |issue| %>
    <div class="issue-box">
      <div class="issue-type-priority-pics">
        <span class="issue-type">
          <%= image_tag(issue.issue_type.icon_path, size: "16x16", title: issue.issue_type.name) %>
        </span>
        <span class="issue-priority">
          <%= image_tag(issue.issue_priority.icon_path, size: "16x16",title: issue.issue_priority.name) %>
        </span>
      </div>

      <div class="issue-data-brief">
        <div class="issue-data-row">
          <span class="issue-link"><%= "ToDo Link" %></span>
          <span class="issue-summary"><%= issue.summary %></span>
        </div>

        <div class="issue-data-row">
          <div class="issue-status"><%= "issue.status" %></div>
        </div>
      </div>

      <span class="issue-estimate-time" style="float: right">
        <%= "#{issue.estimate_time}h" if issue.estimate_time %>
      </span>
    </div>
  <% end %>
</div>