<div class="command-bar">
  <ul>
    <li><%= link_to "Edit", nil, class: "btn btn-default" %></li>
  </ul>

  <ul>
    <li><%= link_to "Comment", nil, class: "btn btn-default" %></li>
  </ul>

  <ul class="block">
    <li><%= link_to "Btn1", nil, class: "btn btn-default", id: 'btn1-btn' %></li>
    <li><%= link_to "Btn2", nil, class: "btn btn-default", id: 'btn2-btn'  %></li>
    <li><%= link_to "Btn3", nil, class: "btn btn-default", id: 'btn3-btn'  %></li>
  </ul>
</div>

<div class="issue-body">
  <div class="issue-main-column">
    <div class="issue-details-module">
      <div class="issue-details-heading">
        <h4>Details</h4>
      </div>
      <div class="issue-details-content"></div>
    </div>
  </div>
  <div class="issue-side-column">
    side
  </div>
</div>