<div class="command-bar">
  <ul>
    <li><%= link_to "Edit", nil, class: "btn btn-default" %></li>
  </ul>

  <ul>
    <li><%= link_to "Comment", nil, class: "btn btn-default" %></li>
  </ul>

  <ul class="block">
    <li><%= link_to "Btn1", nil, class: "btn btn-default", id: 'btn1-btn' %></li>
    <li><%= link_to "Btn2", nil, class: "btn btn-default", id: 'btn2-btn'  %></li>
    <li><%= link_to "Btn3", nil, class: "btn btn-default", id: 'btn3-btn'  %></li>
  </ul>
</div>

<div class="issue-body">
  <div class="issue-main-column">
    <div class="issue-details-module">
      <div class="issue-details-heading">
        <h4>Details</h4>
      </div>
      <div class="issue-details-content">
        <table class="width-100">
          <tr>
            <td class="width-20">Type:</td>
            <td><%= text_with_icon(@issue.issue_type.icon_path, 16, @issue.issue_type.name) %></td>
            <td class="width-20">Status:</td>
            <td>stat1</td>
          </tr>

          <tr>
            <td class="width-20">Priority:</td>
            <td><%= text_with_icon(@issue.issue_priority.icon_path, 16, @issue.issue_priority.name ) %></td>
            <td class="width-20">Resolution</td>
            <td>Unresolved</td>
          </tr>

          <tr>
            <td class="width-20">Component/s:</td>
            <td class=>None</td>
          </tr>

          <tr>
            <td class="width-20">Labels:</td>
            <td class=>None</td>
          </tr>

          <tr>
            <td class="width-20">Epic Link:</td>
            <td class=>None</td>
          </tr>

          <tr>
            <td class="width-20">Sprint:</td>
            <td class=>None</td>
          </tr>

        </table>
      </div>
    </div>

    <div class="issue-description-module">
      <div class="issue-description-heading">
        <h4>Description</h4>
      </div>
      <div class="issue-description-content">
        <%= @issue.description %>
      </div>
    </div>
  </div>

  <div class="issue-side-column">
    <div class="issue-people-module">
      <div class="issue-people-heading">
        <h4>People</h4>
      </div>
    </div>
  </div>
</div>