<div class="command-bar">
  <ul>
    <li><%= link_to "Edit", nil, class: "btn btn-default" %></li>
  </ul>

  <ul>
    <li><%= link_to "Comment", nil, class: "btn btn-default" %></li>
  </ul>

  <ul class="block">
    <li><%= link_to "Merge", nil, class: "btn btn-default", id: 'merge-btn' %></li>
    <li><%= link_to "Close", nil, class: "btn btn-default", id: 'close-btn'  %></li>
    <li><%= link_to "Restart", nil, class: "btn btn-default", id: 'restart-btn'  %></li>
  </ul>
</div>