<%= form_for @project, :html => {:class => 'form-horizontal'} do |f| %>
  <div class="form-body">
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.label :name, class: 'col-sm-2 form-label project-form-name' %>
        <div class="col-sm-4">
          <%= f.text_field :name, {:class => 'form-control'} %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.label :key, class: 'col-sm-2 form-label' %>
        <div class="col-sm-4">
          <%= f.text_field :key, {:class => 'form-control'} %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.label :type, class: 'col-sm-2 form-label' %>
        <div class="col-sm-4">
          <%= f.select :type_id, @project_types.sort_by(&:display_order).map{ |type| [type.name, type.id] }, {},
                       {:class => 'form-control'} %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.label :category, class: 'col-sm-2 form-label' %>
        <div class="col-sm-4">
          <%= f.select :category_id, [[1, 1]], {}, {:class => 'form-control'} %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.label :url, class: 'col-sm-2 form-label' %>
        <div class="col-sm-4">
          <%= f.text_field :url, :class => 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-footer">
    <div class="col-sm-offset-10 col-sm-2">
      <%= f.submit "Create", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>