<div class="projects-box">
  <div class="project-types-categories">
    <div class="project-types">
      <ul>
        <li><h5>Project types</h5></li>
        <li><strong><%= link_to "All Project Types", filter_project_path("All Project Types", @category_filter) %></strong></li>
        <% @project_types.each do |type| %>
          <li>
            <strong>
              <%= link_to text_with_icon(type.icon_path, 18, type.name), filter_project_path(type.name, @category_filter) %>
            </strong>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="project-categories">
      <ul>
        <li><h5>Categories</h5></li>
        <li><strong><%= link_to "All Categories", filter_project_path(@type_filter, "All Categories") %></strong></li>
        <li><strong><%= link_to "Recent Projects", filter_project_path(@type_filter, "Recent Projects") %></strong></li>
      </ul>
    </div>
  </div>
  <div class="project-list">
    <h3><%= @type_filter + " - " + @category_filter %></h3>

    <div class="container-fluid margin-top-30">
      <table class="table">
        <thead>
          <tr>
            <th class="width-3"></th>
            <th class="col-sm-2">Project</th>
            <th class="col-sm-1">Key</th>
            <th class="col-sm-2">Project Type</th>
            <th class="col-sm-2">Project Lead</th>
            <th class="col-sm-2">Project Category</th>
            <th class="col-sm-2">URL</th>
          </tr>
        </thead>

        <% @projects.each do |project| %>
          <tr>
            <td class="project-icon"><%= image_tag "standart_godzilla.png", size: "24x24" %></td>
            <td><%= project.name %></td>
            <td><%= project.key %></td>
            <td><%= text_with_icon project.project_type.icon_path, 18, project.project_type.name %></td>
            <td>Project lead</td>
            <td>No Category</td>
            <td><%= project.url %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>