<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "Godzilla", project_issues_path(current_project), class: "navbar-brand" %>

    <!--PROJECTS dropdown-->
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Projects
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <strong>Current project</strong>
          <li><%= link_to ("#{image_tag 'standart_godzilla.png', size: '16x16'} " + current_project.name).html_safe %></li>
          <li role="separator" class="divider"></li>
          <strong>Recent projects</strong>
          <%= render partial: "projects/recent_projects" %>
          <li role="separator" class="divider"></li>
          <%= render partial: "projects/project_types" %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "View all projects", projects_path %></li>
        </ul>
      </li>
    </ul>

    <!--ISSUES dropdown-->
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Issues
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <strong>Recent issues</strong>
          <%= render partial: "issues/recent_issues" %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "View all issues", project_issues_path(current_project) %></li>
        </ul>
      </li>
    </ul>

    <%= link_to "Create", new_project_issue_path(current_project), class: "btn btn-default navbar-btn margin-left-10", title: "Create a new Issue" %>
  </div>
</nav>