<!DOCTYPE html>
<html>
  <head>
    <title>Godzilla</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render partial: "layouts/nav_bar" %>

    <%= render partial: "layouts/header", locals: { title: @title } %>

    <%= yield %>

    <div class="margin-top-30">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
